.table-container {
    margin-bottom: 10px;
}

.div-chip {
    background-color: #388e3c;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.tables-count {
    float: right;
    position: relative;
    top: -75px;
}