.network-legend {
    position: absolute;
    top: 0;
    left: 0;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
}

.input-port {
    background-color: #f0139b;
}

.data-product {
    background-color: #388e3c;
}

.output-port {
    background-color: #eb8034;
}