.padded {
    padding: 10px;
}

.intractable-primary {
    font-weight: bold;
    cursor: pointer;
    color: #388e3c;
    text-decoration: underline;
}

.intractable-white {
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.app-bar {
    background-color: #388e3c !important;
}

.white-text {
    color: white !important;
}